body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-size:18px;
	font-family: 'Lato', sans-serif;
}
footer{
	width: 100%;
	margin: 0;
	padding: 40px 0;
	background-color: #fff;
}
footer .info-footer{
	text-align: center;
	margin: auto;
	width: 90%;
	max-width: 1200px;
}
footer .info-footer p{
	font-size: 14px;
  	color: #666;
  	font-weight: 300;
  	margin: 0;
}
footer .info-footer p img{
	width: 48px;
}
.top-seccion{
	margin: 0;
	position: relative;
	z-index: 0;
	padding: 0; 
	background: url(../imagenes/desarrolloweb.jpg) no-repeat center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-seccion .opacidad{
	padding: 0;
	margin: 0;
	background-color: #0d3142;
	opacity: 0.9;
}
.top-seccion .opacidad .cont-top{
	text-align: center;
	margin: 110px auto 0 auto;
	max-width: 1200px;
	padding: 0 0 45px 0;
	width: 90%;
}
.top-seccion .opacidad .cont-top .titulo{
	padding: 0;
  	font-weight: 400;
  	font-size: 46px;
  	line-height: 46px;
  	color: #fff;
  	margin: 0 auto 25px auto;
}
.top-seccion .opacidad .cont-top p{
  	margin-bottom: 35px;
  	font-weight: 100;
  	font-size: 24px;
  	line-height: 24px;
  	color: #fff;
}
.slide{
	margin: 0;
	position: relative;
	z-index: 0;
	padding: 0;
	background: url(../imagenes/fondo.jpg) no-repeat center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slide .cont-slide{
	width: 90%;
	max-width: 1200px;
	margin: auto;
}
.slide .cont-slide .info{
	text-align: center;
	margin: 100px auto 50px auto;
}
.slide .cont-slide .info .texto-grande{
	padding: 0;
	font-weight: 700;
	font-size: 52px;
	line-height: 52px;
	color: #fff;
	margin: 0;
}
.slide .cont-slide .info .texto-medio{
	padding: 0;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	color: #fff;
	margin: 0 0 30px 0;
}
.slide .cont-slide .info h1,
.slide .cont-slide .info p{
	margin-bottom: 5px;
	font-weight: 100;
	font-size: 24px;
	line-height: 24px;
	color: #fb4345;
}
.slide .cont-slide .info p{
	margin-bottom: 40px;
}
.slide .cont-slide .info a,
.top-seccion .opacidad .cont-top a{
	background-color: #fb4345;
	padding: 10px 20px;
	border-radius: 3px;
	font-weight: 100;
	font-size: 18px;
	color: #fff;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.slide .cont-slide .info a:hover,
.top-seccion .opacidad .cont-top a:hover{
	background-color: #fff;
	text-decoration: none;
	color: #fb4345;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.planes{
	width: 100%;
	padding: 40px 0;
	background-color: #fff;
}
.planes .contenido-secciones{
	text-align: center;
	margin: auto;
	width: 90%;
	max-width: 1200px;
}
.planes .contenido-secciones h2{
	font-size: 24px;
  	color: #666;
  	font-weight: 400;
  	margin: 0 0;
}
.planes .contenido-secciones .puntos{
	font-size: 26px;
  	color: #fb4345;
  	font-weight: 400;
  	margin-top: -20px;
  	letter-spacing: 4px;
}
.planes .contenido-secciones p{
	font-size: 18px;
  	color: #666;
  	font-weight: 300;
  	margin: 0 auto 40px 0;
}
.planes .contenido-secciones .primero{
	margin: 0 auto;
}
.planes .contenido-secciones .primero .plan12 .plan1{
	border: 1px solid #ccc;
	position: relative;
	margin-bottom: 40px;
	border-radius: 3px;
	min-height: 522px;
	padding: 0;
}
.planes .contenido-secciones .primero .plan12 .plan2{
	border: 1px solid #ccc;
	position: relative;
	margin-bottom: 40px;
	border-radius: 3px;
	min-height: 550px;
	padding: 0;
}
.planes .contenido-secciones .primero .plan12 .plan1 .titulo,
.planes .contenido-secciones .primero .plan12 .plan2 .titulo{
	font-size: 24px;
	color: #666;
	font-weight: 400;
	margin: 20px auto 0 auto;
}
.planes .contenido-secciones .primero .plan12 .plan1 .puntos,
.planes .contenido-secciones .primero .plan12 .plan2 .puntos{
	font-size: 26px;
	color: #fb4345;
	font-weight: 400;
	margin: -40px auto 0 auto;
	letter-spacing: 4px;
}
.planes .contenido-secciones .primero .plan12 .plan1 .precio,
.planes .contenido-secciones .primero .plan12 .plan2 .precio{
	position: relative;
	margin: 0 auto 20px auto;
}
.planes .contenido-secciones .primero .plan12 .plan1 .precio b,
.planes .contenido-secciones .primero .plan12 .plan2 .precio b{
	position: absolute;
	font-size: 18px;
	color: #666;
	font-weight: 300;
	margin: 10px 0 0 -10px;
}
.planes .contenido-secciones .primero .plan12 .plan1 .precio .numero,
.planes .contenido-secciones .primero .plan12 .plan2 .precio .numero{
	font-size: 38px;
	color: #fb4345;
	font-weight: 700;
	margin: 0;
}
.planes .contenido-secciones .primero .plan12 .plan1 .chico,
.planes .contenido-secciones .primero .plan12 .plan2 .chico{
	font-size: 16px;
	padding: 0;
	color: #666;
	font-weight: 300;
	margin: -10px 0 15px 0;
}
.planes .contenido-secciones .primero .plan12 .plan1 p,
.planes .contenido-secciones .primero .plan12 .plan2 p{
	font-size: 18px;
	padding: 8px 0;
	color: #666;
	font-weight: 300;
	margin: 0;
}
.planes .contenido-secciones .primero .plan12 .plan1 .texto,
.planes .contenido-secciones .primero .plan12 .plan2 .texto{
	width: 90%;
	font-size: 18px;
	padding: 8px 0;
	color: #666;
	font-weight: 300;
	margin: 30px auto 60px auto;
}
.planes .contenido-secciones .primero .plan12 .plan1 .p,
.planes .contenido-secciones .primero .plan12 .plan2 .p{
	font-size: 18px;
	padding: 8px 0;
	background-color: #f1f1f1;
	color: #666;
	font-weight: 300;
	margin: 0;
}
.planes .contenido-secciones .primero .plan12 .plan1 .valor,
.planes .contenido-secciones .primero .plan12 .plan2 .valor{
	background-color: #fb4345;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
  	padding: 10px 0;
  	margin:
  	0 auto;
  	border-radius: 0 0 2px 2px;
}
.planes .contenido-secciones .primero .plan12 .plan1 .valor a,
.planes .contenido-secciones .primero .plan12 .plan2 .valor a{
	width: 100%;
	text-align: center;
  	padding: 10px 0;
  	margin: auto;
  	font-weight: 100;s
  	font-size: 18px;
  	color: #fff;
  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
.planes .contenido-secciones .primero .plan12 .plan1 figure,
.planes .contenido-secciones .primero .plan12 .plan2 figure{
	margin:  30px auto 0 auto;
	width: 110px;
}
.planes .contenido-secciones .primero .plan12 .plan1 figure img,
.planes .contenido-secciones .primero .plan12 .plan2 figure img{
	width: 100%;
}
.info figure{
	margin-bottom: 30px;
}
.info figure img{
	width: 100%;
	max-width: 450px;
	margin: auto;
}
.menu-novedades{
	border-radius: 15px;
	margin: 0;
	padding: 0;
}
.menu-novedades ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-novedades ul li{
	border-bottom: 1px solid #fff;
	text-align: left;
	margin: 0 0 ;
	background-color: #fb4345;
	padding: 10px 15px;
}
.menu-novedades ul li a{
	width: 100%;
	color: #fff;
	font-weight: 300;
}
.servicios{
	width: 100%;
	margin: 0;
	padding: 40px 0;
	background-color: #fff;
}
.servicios .contenido{
	text-align: center;
	margin: auto;
	width: 90%;
	max-width: 1200px;
}
.servicios .contenido .servicios-grande{
	margin: 0;
	padding: 0;
}
.servicios .contenido .servicios-grande .desarrollo{
	padding: 60px 0;
	border: 1px solid #ccc;
	border-top: none;
	border-left: none;
}
.servicios .contenido .servicios-grande .diseno{
	padding: 60px 0;
	border: 1px solid #ccc;
	border-top: none;
	border-left: none;
	border-right: none;
}
.servicios .contenido .servicios-chicos{
	margin: 0;
	padding: 0;
}
.servicios .contenido .servicios-chicos .hosting,
.servicios .contenido .servicios-chicos .marketing{
	padding: 60px 0;
	border: 1px solid #ccc;
	border-top: none;
	border-left: none;
	border-bottom: none;
}
.servicios .contenido .servicios-chicos .app{
	padding: 60px 0;
	border: none;
}
.servicios .contenido .servicios-grande .desarrollo figure,
.servicios .contenido .servicios-grande .diseno figure,
.servicios .contenido .servicios-chicos .hosting figure,
.servicios .contenido .servicios-chicos .marketing figure,
.servicios .contenido .servicios-chicos .app figure{
	width: 96px;
	margin: auto;
}
.servicios .contenido .servicios-grande .desarrollo figure img,
.servicios .contenido .servicios-grande .diseno figure img,
.servicios .contenido .servicios-chicos .hosting figure img,
.servicios .contenido .servicios-chicos .marketing figure img,
.servicios .contenido .servicios-chicos .app figure img{
	width: 100%;
}
.servicios .contenido .servicios-grande .desarrollo .titulo,
.servicios .contenido .servicios-grande .diseno .titulo,
.servicios .contenido .servicios-chicos .hosting .titulo,
.servicios .contenido .servicios-chicos .marketing .titulo,
.servicios .contenido .servicios-chicos .app .titulo{
	font-size: 24px;
	color: #666;
	font-weight: 400;
	margin: 20px 0 0 0;
}
.servicios .contenido .servicios-grande .desarrollo .puntos,
.servicios .contenido .servicios-grande .diseno .puntos,
.servicios .contenido .servicios-chicos .hosting .puntos,
.servicios .contenido .servicios-chicos .marketing .puntos,
.servicios .contenido .servicios-chicos .app .puntos{
	font-size: 26px;
	color: #fb4345;
	font-weight: 400;
	margin-top: -20px;
	letter-spacing: 4px;
}
.servicios .contenido .servicios-grande .desarrollo p,
.servicios .contenido .servicios-grande .diseno p,
.servicios .contenido .servicios-chicos .hosting p,
.servicios .contenido .servicios-chicos .marketing p,
.servicios .contenido .servicios-chicos .app p{
	font-size: 18px;
	color: #666;
	font-weight: 300;
	margin: 20px 0 40px 0;
}
.servicios .contenido .servicios-grande .desarrollo a,
.servicios .contenido .servicios-grande .diseno a,
.servicios .contenido .servicios-chicos .hosting a,
.servicios .contenido .servicios-chicos .marketing a,
.servicios .contenido .servicios-chicos .app a{
	background-color: #fb4345;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	padding: 10px 30px;
	font-weight: 100;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.servicios .contenido .servicios-grande .desarrollo a:hover,
.servicios .contenido .servicios-grande .diseno a:hover,
.servicios .contenido .servicios-chicos .hosting a:hover,
.servicios .contenido .servicios-chicos .marketing a:hover,
.servicios .contenido .servicios-chicos .app a:hover{
	background-color: #fff;
	border: 1px solid #fb4345;
	color: #fb4345;
	text-decoration: none;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.contenedor{
	width: 100%;
	margin: 0;
	padding: 40px 0;
	background-color: #f1f1f1;
}
.contenedor2{
	width: 100%;
  	margin: 0;
  	padding: 40px 0;
  	background-color: #0d3142;
}
.contenedor .desarrollo-web{
	text-align: center;
	margin: auto;
	width: 90%;
	max-width: 1200px;
}
.contenedor .desarrollo-web figure img{
	width: 100%;
	max-width: 490px;
}
.contenedor2 .web-app figure img{
	margin-top: 12%;
	width: 100%;

}
.contenedor .desarrollo-web .info .titulo{
	font-size: 24px;
  	color: #666;
  	font-weight: 400;
  	margin: 20px 0 0 0;
}
.contenedor .desarrollo-web .info .puntos{
	font-size: 26px;
  	color: #fb4345;
  	font-weight: 400;
  	margin-top: -20px;
  	letter-spacing: 4px;
}
.contenedor .desarrollo-web .info .subtitulo{
	font-size: 18px;
  	color: #666;
  	font-weight: 400;
  	margin: 20px 0 0 0;
}
.contenedor .desarrollo-web .info p{
	font-size: 18px;
  	color: #666;
  	font-weight: 100;
  	margin: 30px 0 0 0;
}
.contenedor2 .web-app{
	text-align: center;
	margin: auto;
	width: 90%;
	max-width: 1200px;
}
.contenedor2 .web-app .info .titulo{
	font-size: 24px;
  	color: #fff;
  	font-weight: 400;
  	margin: 20px 0 0 0;
}
.contenedor2 .web-app .info .puntos{
	font-size: 26px;
  	color: #fff;
  	font-weight: 400;
  	margin-top: -20px;
  	letter-spacing: 4px;
}
.contenedor2 .web-app .info .subtitulo{
	font-size: 18px;
  	color: #fff;
  	font-weight: 400;
  	margin: 20px 0 0 0;
}
.contenedor2 .web-app .info p{
	font-size: 18px;
  	color: #fff;
  	font-weight: 100;
  	margin: 30px 0 0 0;
}
.contenedor-detalle{
	width: 100%;
	margin: 0;
	padding: 40px 0;
	background-color: #fff;
}
.contenedor-detalle .contenido-detalle{
	text-align: center;
	margin: auto;
	width: 90%;
	padding-bottom: 40px;
	max-width: 1200px;
}
.contenedor-detalle .contenido-detalle figure{
	margin: auto;
}
.contenedor-detalle .contenido-detalle figure img{
	margin-top: 10%;
	width: 100%;
	margin-bottom: 40px;
	max-width: 500px;
}
.contenedor-detalle .contenido-detalle figure a{
	border: 1px solid #fff;
	text-transform: uppercase;
	background-color: #fb4345;
  	font-size: 18px;
  	color: #fff;
  	border-radius: 3px;
  	padding: 8px 40px;
  	font-weight: 300;

  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
.contenedor-detalle .contenido-detalle figure a:hover{
	border: 1px solid #fb4345;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #fff;
  	font-size: 18px;
  	color: #fb4345;
  	border-radius: 3px;
  	padding: 8px 40px;
  	font-weight: 300;

  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
.contenedor-detalle .contenido-detalle .info .titulo{
	font-size: 24px;
  	color: #666;
  	font-weight: 400;
  	margin: 20px 0 0 0;
}
.contenedor-detalle .contenido-detalle .info .puntos{
	font-size: 26px;
  	color: #fb4345;
  	font-weight: 400;
  	margin-top: -15px;
  	margin-bottom: 20px;
  	letter-spacing: 4px;
}
.contenedor-detalle .contenido-detalle .info p{
	font-size: 18px;
  	color: #666;
  	font-weight: 300;
  	margin: 30px 0;
}
.contenedor-detalle .contenido-detalle .info a{
	border: 1px solid #fff;
	text-transform: uppercase;
	background-color: #fb4345;
  	font-size: 18px;
  	color: #fff;
  	border-radius: 3px;
  	padding: 8px 40px;
  	font-weight: 300;

  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
.contenedor-detalle .contenido-detalle .info a:hover{
	border: 1px solid #fb4345;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #fff;
  	font-size: 18px;
  	color: #fb4345;
  	border-radius: 3px;
  	padding: 8px 40px;
  	font-weight: 300;

  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
.contenedor-detalle .contenido-detalle .info .valor{
	border: 1px solid #ccc;
	width: 80%;
	margin: 40px auto 0 auto;
	background-color: #fb4345;
	border-radius: 3px;
}
.contenedor-detalle .contenido-detalle .info .valor p{
	font-size: 18px;
	padding: 8px 0;
  	color: #fff;
  	font-weight: 300;
  	margin: 0;
}
.contenedor-detalle .contenido-detalle .info .valor .precio{
	background-color: #fff;
	border-radius: 0 0 3px 3px;
	padding-bottom: 22px;
	position: relative;
}
.contenedor-detalle .contenido-detalle .info .valor .precio .numero b{
	position: absolute;
  	font-size: 18px;
  	color: #660000;
  	font-weight: 300;
  	margin: 10px 0 0 -10px;
}
.contenedor-detalle .contenido-detalle .info .valor .precio .numero{
	font-size: 38px;
  	color: #660000;
  	font-weight: 700;
  	margin: 0;
}
.contenedor-detalle .contenido-detalle .info .valor .precio a{
	position: absolute;
	margin: auto;
	max-width: 270px;
	width: 90%;
	left: 0;
	right: 0;
	border: 1px solid #fff;
	text-transform: uppercase;
	background-color: #fb4345;
  	font-size: 18px;
  	color: #fff;
  	border-radius: 3px;
  	padding: 8px 10px;
  	font-weight: 300;

  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
.contenedor-detalle .contenido-detalle .info .valor .precio a:hover{
	border: 1px solid #fb4345;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #fff;
  	font-size: 18px;
  	color: #fb4345;
  	border-radius: 3px;
  	font-weight: 300;

  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
.contacto{
	width: 100%;
	margin: 0;
	padding: 40px 0;
	background-color: #f1f1f1;
}
.contacto .cont-contacto{
	text-align: center;
	margin: auto;
	width: 90%;
	max-width: 1200px;
}
.contacto .cont-contacto form{
	padding: 0 0 40px 0;
	border: none;
	border-bottom: 1px solid #ccc;
}
.contacto .cont-contacto form h3{
	font-size: 24px;
  	color: #666;
  	font-weight: 400;
  	margin: 20px 0 0 0;
}
.contacto .cont-contacto form .puntos{
	font-size: 26px;
  	color: #fb4345;
  	font-weight: 400;
  	margin-top: -20px;
  	margin-bottom: 20px;
  	letter-spacing: 4px;
}
.contacto .cont-contacto form p{
	font-size: 18px;
  	color: #666;
  	max-width: 650px;
  	font-weight: 100;
  	margin-bottom: 35px;
}
.contacto .cont-contacto form p b{
	font-size: 18px;
  	color: #fb4345;
  	font-weight: 300;
}
.contacto .cont-contacto form #form .input{
	border: 1px solid #ccc;
	text-align: center;
	padding: 8px;
	border-radius: 3px;
	margin-bottom: 40px;
	width: 100%;
	font-size: 18px;
  	color: #666;
  	font-weight: 100;
}
.contacto .cont-contacto form #form .mensaje{
	border: 1px solid #ccc;
	text-align: center;
	padding: 8px;
	border-radius: 3px;
	margin-bottom: 40px;
	width: 100%;
	height: 150px;
	font-size: 18px;
  	color: #666;
  	font-weight: 100;
}
.contacto .cont-contacto form #form .enviar{
	border: 1px solid #f1f1f1;
	text-transform: uppercase;
	background-color: #fb4345;
  	font-size: 18px;
  	color: #fff;
  	border-radius: 3px;
  	padding: 8px 40px;
  	font-weight: 100;

  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
.contacto .cont-contacto form #form .enviar:hover{
	border: 1px solid #fb4345;
	text-transform: uppercase;
	background-color: #fff;
  	font-size: 18px;
  	color: #fb4345;
  	border-radius: 3px;
  	padding: 8px 40px;
  	font-weight: 100;

  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
.contacto .cont-contacto .info-contacto h3{
	font-size: 24px;
  	color: #666;
  	font-weight: 400;
  	margin: 20px 0 0 0;
}
.contacto .cont-contacto .info-contacto .puntos,
.contacto .cont-contacto .info-contacto .puntos2{
	font-size: 26px;
  	color: #fb4345;
  	font-weight: 400;
  	margin-top: -20px;
  	margin-bottom: 20px;
  	letter-spacing: 4px;
}
.contacto .cont-contacto .info-contacto p{
	font-size: 18px;
  	color: #666;
  	max-width: 650px;
  	font-weight: 100;
  	margin-bottom: 35px;
}
.mapa{
	padding: 0;
}
.mapa .bloque {
	height:450px;
	width:100%;
	position:absolute;
	bottom: 0px;
	margin:auto;
	text-align:center;
	color:#FFF;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	top: -7px;
}
.tecnologia{
	width: 100%;
	margin: 0;
	padding: 40px 0;
	background-color: #fff;
}
.tecnologia .contenido1{
	text-align: center;
	margin: 0 auto 40px auto;
	width: 90%;
	max-width: 1050px;
}
.tecnologia .contenido1{
	font-size: 18px;
  	color: #666;
  	max-width: 650px;
  	font-weight: 300;
}
.tecnologia .contenido{
	border-top: 1px solid #ccc;
	padding-top: 40px;
	text-align: center;
	margin: auto;
	width: 90%;
	max-width: 1050px;
}
.tecnologia .contenido figure{
	margin: auto;
}
.tecnologia .contenido figure img{
	width: 100%;
	max-width: 150px;
	margin: auto;
}
.menu-inf{
	width: 100%;
	margin: 0;
	padding: 40px 0 0 0;
	background-color: #f1f1f1;
}
.menu-inf .cont-menu{
	text-align: center;
	margin: 0 auto 40px auto;
	width: 90%;
	max-width: 1050px;
}
.menu-inf .cont-menu .cont-botones h4{
	font-size: 18px;
  	color: #666;
  	font-weight: 400;
  	margin: 0 0 20px 0;
}
.menu-inf .cont-menu .cont-botones a{
	padding: 0;
	font-size: 18px;
  	color: #666;
  	font-weight: 100;
  	margin: 0;
}
.menu-inf .cont-menu .cont-botones .a{
	font-size: 18px;
  	color: #666;
  	font-weight: 100;
  	margin: 0 0 30px 0;
}
.menu-inf .cont-menu .cont-botones a:hover,
.menu-inf .cont-menu .cont-botones .a:hover{
  	color: #fb4345;
  	text-decoration: none;
}
.menu-inf .sociales{
	position: relative;
	z-index: 1;
	background-color: #f1f1f1;
	text-align: center;
	margin: 0 auto 40px auto;
	width: 90%;
	max-width: 495px;
}
.menu-inf .sociales a{
	width: 48px;
	margin: 10px 5px;
}
.menu-inf .sociales  a img{
	width: 48px;
	padding-bottom: 15px;
}
.menu-inf .linea{
	position: relative;
	z-index: 0;
	border-top: 1px solid #ccc;
	background-color: #f1f1f1;
	text-align: center;
	top: -80px;
	margin: auto;
	height: 20px;
	width: 90%;
	max-width: 1000px;
}
/* hosting moviles */
.hosting_movil {
    display: block;
    margin: 0 auto 40px auto;
    width: 95%;
}
.hosting_movil .grilla_contenido_movil {
    padding: 20px 10px;
    background-color: #f5f5f5;
    border-bottom: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
.hosting_movil .grilla_contenido_movil a {
    color: white;
    background-color: #FF284E;
    width: 100px;
    display: block;
    text-align: center;
    padding: 5px 0;
}
.hosting_movil .grilla_contenido_movil .nombre_movil {
    border-right: solid 1px #ccc;
    padding: 0;
}
.hosting_movil .grilla_contenido_movil .estado_movil {
    padding: 0 0 0 10px;
}
.hosting_movil .grilla_contenido_movil .nombre_movil,
.hosting_movil .grilla_contenido_movil .estado_movil {
    width: 45%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}
.hosting_movil .grilla_titulo_movil {
    color: white;
    background-color: #FF284E;
    padding: 20px 10px;
}
.hosting_movil .plan_movil {
    color: white;
    border: solid 1px #222b31;
    padding: 20px 10px;
    background-color: #222b31;
}
.hosting_movil .sep_movil {
    padding: 20px 10px;
    background-color: #ccc;
}

.hosting_movil_2{
    display: block;
    margin: 0 auto;
    width: 95%;
}
.hosting_movil_2 .cabecera {
    background-color: #FF284E;
    border: solid 1px #FF284E;
    color: white;
    width: 100%;
}
.hosting_movil_2 .cabecera .grilla_titulos {
    border-right: 1px solid #c31a22;
    color: #fff;
    display: inline-block;
    line-height: 90px;
    width: 40%;
    margin: 0;
    font-size: 14px;
    vertical-align: top;
}
.hosting_movil_2 .cabecera .grilla_titulos2 {
    border-right: 1px solid #c31a22;
	display: inline-block;
	line-height: 90px;
	margin: 0;
	color: #fff;
	padding-left: 30px;
	width: 37%;
	font-size: 14px;
	vertical-align: top;
}
.hosting_movil_2 .cabecera .grilla_titulos_hosting {
    border-right: 1px solid #c31a22;
    color: #fff;
    display: inline-block;
    line-height: 90px;
    text-align: center;
    width: 10%;
    margin: 0;
    font-size: 14px;
    vertical-align: top; 
}
.hosting_movil_2 .cabecera .grilla_titulos_hosting2 {
	border-right: 1px solid #c31a22;
  	color: #fff;
  	padding: 37px 0;
  	display: inline-block;
  	line-height: 15px;
  	text-align: center;
  	width: 10%;
  	margin: 0;
  	font-size: 14px;
  	vertical-align: top;
}
.hosting_movil_2 .contenido_hosting {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 100%;
}
.hosting_movil_2 .contenido_hosting .grilla_titulos {
    border-right: 1px solid red;
	display: inline-block;
	line-height: 90px;
	padding-left: 30px;
	width: 40%;
	margin: 0;
	font-size: 14px;
	vertical-align: top;
  }
  .hosting_movil_2 .contenido_hosting .grilla_titulos2 {
    border-right: 1px solid red;
  	display: inline-block;
  	line-height: 90px;
  	padding-left: 30px;
  	width: 37%;
  	margin: 0;
  	font-size: 14px;
  	vertical-align: top;
  }
.hosting_movil_2 .contenido_hosting .grilla_contenido {
    border-right: 1px solid #ccc;
	display: inline-block;
	line-height: 90px;
	text-align: center;
	width: 10%;
	margin: 0;
	font-size: 14px;
	vertical-align: top;
}
.hosting_movil_2 .contenido_hosting .grilla_contenido img{
	padding: 35px 0;
}
.hosting_movil_2 .contenido_hosting2 {
    background-color: #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 100%;
}
.hosting_movil_2 .contenido_hosting2 .grilla_titulos2 {
    display: inline-block;
	line-height: 90px;
	padding-left: 30px;
	margin: 0;
	width: 100%;
	font-size: 16px;
}
.hosting_movil_2 .contenido_hosting .grilla_contenido_valor {
    display: inline-block;
    line-height: 50px;
    text-align: center;
    width: 10%;
    font-size: 14px;
}
.hosting_movil_2 .contenido_hosting .grilla_contenido_valor a {
    background: #ff284a;
    color: white;
   	padding: 5px 10px;
    font-size: 14px;
}
.espacioformulario{
	font-size: 18px;
	color: #666;
	font-weight: 300;
	margin: 0 auto;
}
.espacioformulario form{
	font-size: 18px;
	color: #666;
	font-weight: 300;
	margin: 0 auto;
}
.espacioformulario form .input{
	border: 1px solid #ccc;
	text-align: center;
	padding: 8px;
	border-radius: 3px;
	margin-bottom: 40px;
	width: 100%;
	max-width: 500px;
	font-size: 18px;
	color: #666;
	font-weight: 100;
}
.espacioformulario form .mensaje{
	border: 1px solid #ccc;
	text-align: center;
	padding: 8px;
	border-radius: 3px;
	margin-bottom: 40px;
	width: 100%;
	height: 200px;
	max-width: 500px;
	font-size: 18px;
	color: #666;
	font-weight: 100;
}
.espacioformulario form .enviar{
	border: 1px solid #f1f1f1;
  	text-transform: uppercase;
  	background-color: #fb4345;
  	font-size: 18px;
  	color: #fff;
  	border-radius: 3px;
  	padding: 8px 40px;
  	font-weight: 100;

  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
.espacioformulario form .enviar:hover{
	border: 1px solid #fb4345;
  	text-transform: uppercase;
  	background-color: #f1f1f1;
  	font-size: 18px;
  	color: #fb4345;
  	border-radius: 3px;
  	padding: 8px 40px;
  	font-weight: 100;
  	
  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}
/* fin hosting moviles */


/*menu moviles*/
@media screen and (max-width: 767px) {
    header .container, 
	header .container .content-wrap{
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
	header .container{
		position: absolute;
		background: red;
	}
	header .container .logotipo{
		position: absolute;
		z-index: 1;
		width: 77px;
		margin: 15px auto 0 auto;
		left: 0;
		right: 0;
	}
	header .container .logotipo img{
		width: 100%;
	}
	header .container .menu-wrap a {
		color: #fff;
		font-family: 'Lato', sans-serif;
		font-weight: 100;

		-webkit-transition: all 0.3s ease-in-out;
    	-moz-transition: all 0.3s ease-in-out;
    	-o-transition: all 0.3s ease-in-out;
    	transition: all 0.3s ease-in-out;
	}
	header .container .menu-wrap a:hover,
	header .container .menu-wrap a:focus{
		color: #fb4345;
		text-decoration: none;

		-webkit-transition: all 0.3s ease-in-out;
    	-moz-transition: all 0.3s ease-in-out;
    	-o-transition: all 0.3s ease-in-out;
    	transition: all 0.3s ease-in-out;
	}
	header .container .menu-wrap .activo{
		color: #fb4345;
		text-decoration: block;

		-webkit-transition: all 0.3s ease-in-out;
    	-moz-transition: all 0.3s ease-in-out;
    	-o-transition: all 0.3s ease-in-out;
    	transition: all 0.3s ease-in-out;
	}
	.content-wrap {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
	}
	.content {
		position: relative;
		background: #b4bad2;
	}
	.content::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.3);
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
		transition: opacity 0.3s, transform 0s 0.3s;
		-webkit-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0);
	}
	/* Menu Button */
	.menu-button {
		position: fixed;
		z-index: 1000;
		margin: 10px 10px 10px 0;
		padding: 0;
		width: 2.5em;
		height: 2.25em;
		border: none;
		text-indent: 2.5em;
		font-size: 1.5em;
		color: transparent;
		background: transparent;
	}
	.menu-button::before {
		position: absolute;
		top: 16px;
		right: 16px;
		bottom: 16px;
		left: 16px;
		background: linear-gradient(#fb4345 20%, transparent 20%, transparent 40%, #fb4345 40%, #fb4345 60%, transparent 60%, transparent 80%, #fb4345 80%);
		content: '';
	}
	.menu-button:hover {
		opacity: 1;
	}
	/* Close Button */
	.close-button {
		width: 30px;
		height: 30px;
		position: absolute;
		right: 10px;
		top: 20px;
		overflow: hidden;
		text-indent: 16px;
		border: none;
		z-index: 1001;
		background: transparent;
		color: transparent;
	}
	.close-button::before,
	.close-button::after {
		content: '';
		position: absolute;
		width: 2px;
		height: 100%;
		top: 0;
		left: 50%;
		background: #fff;
	}
	.close-button::before {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.close-button::after {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	/* Menu */
	.menu-wrap {
		opacity: 0.95;
		position: fixed;
		margin-left: -16px;
		z-index: 1001;
		width: 300px;
		height: 100%;
		font-size: 1.15em;
		-webkit-transform: translate3d(-300px,0,0);
		transform: translate3d(-300px,0,0);
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
	}
	.menu {
		background: #373a47;
		width: calc(100% - 120px);
		height: 100%;
		padding: 2em 1em;
	}
	.icon-list {
		margin-top: 20px;
		margin-left: 10px;
		width: 280px;
	}
	.icon-list a {
		display: block;
		padding: 10px 0 10px 0;
	}
	.icon-list a i {
		opacity: 0.5;
	}
	.icon-list a span {
		margin-left: 10px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 0.75em;
	}
	/* Morph Shape */
	.morph-shape {
		position: absolute;
		width: 120px;
		height: 100%;
		top: 0;
		right: 0;
		fill: #373a47;
		z-index: 1000;
	}
	/* Shown menu */
	.show-menu .menu-wrap {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	.show-menu .content-wrap {
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
		-webkit-transform: translate3d(100px,0,0);
		transform: translate3d(100px,0,0);
	}
	.show-menu .content::before {
		opacity: 1;
		-webkit-transition: opacity 0.3s;
		transition: opacity 0.3s;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	.servicios .contenido .servicios-grande .desarrollo,
	.servicios .contenido .servicios-grande .diseno,
	.servicios .contenido .servicios-chicos .hosting,
	.servicios .contenido .servicios-chicos .marketing,
	.servicios .contenido .servicios-chicos .app{
		padding: 60px 0;
		border-bottom: 1px solid #ccc;
		border-top: none;
		border-left: none;
		border-right: none;
	}
	.contacto .cont-contacto form{
		border: none;
		border-bottom: 1px solid #ccc;
	}
}
/*fin menu moviles*/

@media screen and (min-width: 768px) {
	.morph-shape,
	.close-button,
	.menu-button{
		display: none
	}
	header .container .logotipo{
		position: absolute;
		width: 117px;
		margin: 15px auto 0 auto;
		left: 0;
	}
	header .container .logotipo img{
		width: 100%;
	}
	header  .container{
		position: relative;
		z-index: 1;
		margin: auto;
		padding: 0;
		width: 90%;
		max-width: 1200px;
	}
	header  .container .menu{
		height: 110px;
		line-height: 110px;
		margin: auto;
		padding: 0;
	}
	header  .container .menu .icon-list{
		margin: auto;
		float: right;
	}
	header  .container .menu .icon-list a{
		color: #fb4345;
		margin: 0 0 0 15px;
		font-size: 18px;
		font-weight: 100;

		-webkit-transition: all 0.3s ease-in-out;
    	-moz-transition: all 0.3s ease-in-out;
    	-o-transition: all 0.3s ease-in-out;
    	transition: all 0.3s ease-in-out;
	}
	header  .container .menu .icon-list a:hover,
	header  .container .menu .icon-list .activo{
		color: #fff;
		text-decoration: none;

		-webkit-transition: all 0.3s ease-in-out;
    	-moz-transition: all 0.3s ease-in-out;
    	-o-transition: all 0.3s ease-in-out;
    	transition: all 0.3s ease-in-out;
	}
	footer{
		margin-top: -110px;
	}
	.top-seccion{
		position: relative;
		z-index: 0;
		padding: 140px 0 0 0;
		top: -140px;
	}
	.top-seccion .opacidad{
		position: relative;
		z-index: -1;
		padding: 140px 0 0 0;
		margin: 0;
		top: -110px;
		margin-bottom: -110px;
	}
	.top-seccion .opacidad .cont-top{
		text-align: center;
		margin: 0;
		margin: auto;
		max-width: 1200px;
		padding: 0 0 45px 0;
		width: 90%;
	}
	.slide{
		position: relative;
		z-index: 0;
		padding: 140px 0 0 0;
		top: -110px;
	}
	.slide .cont-slide .celu img{
		width: 100%;
		max-width: 422px;
		margin-bottom: 25px;
	}
	.slide .cont-slide .info{
		text-align: left;
		margin: 60px auto 50px auto;
	}
	.slide .cont-slide .info .texto-grande{
		font-size: 75px;
		line-height: 75px;
		margin-bottom: 10px;
	}
	.slide .cont-slide .info .texto-medio{
		font-size: 55px;
		line-height: 55px;
	}
	.servicios,
	.planes,
	.contenedor,
	.contenedor2,
	.contenedor-detalle,
	.contacto,
	.mapa,
	.tecnologia,
	.menu-inf{
		top: -110px;
	}
	.contacto .cont-contacto{
		text-align: left;
	}
	.contacto .cont-contacto form{
		padding: 0 15px 0 0;
		border: none;
		border-right: 1px solid #ccc;
	}
	.contacto .cont-contacto form .puntos{
		margin-left: 55px;
	}
	.contacto .cont-contacto .info-contacto .puntos{
		margin-left: 80px;
	}
	.contacto .cont-contacto .info-contacto .puntos2{
		margin-left: 100px;
	}
	.menu-inf .cont-menu .cont-botones{
		display: inline-block;
		vertical-align: top;
		width: 200px;
	}
	.menu-inf .cont-menu .cont-botones h4,
	.menu-inf .cont-menu .cont-botones a{
	text-align: left;
}
}
