∂ƒbody{
	margin: auto;
}
html {
	font-size:14px;
	font-family: 'Antic', sans-serif;
}
/* DESDE ACA INDEX */
#banner_index {
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:700px;
  	color:#FFF;
	text-align:center;
	position:relative;
	font-size:14px;
	background: url(../imagenes/banner_index.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#banner_index .textslogan {
	color:#FFF;
	text-align:center;
	margin-top:0px;
	font-size:3em;
}
#banner_index .textsloganweb {
	color:#FFF;
	text-align:center;
	margin-top:-50px;
	font-size:9em;
}
#banner_index .distanciapositiva {
	padding-top:100px;
}
#banner_index .distancianegativa {
	margin-top:-50px;
}
#banner_index .contenedor_slogar {
	display:inline-block;
	margin:auto;
	text-align:center;
	width:80%;
	max-width: 1200px;
	padding-top:1em;
}
#banner_index .contenedor_slogar h1 {
	display:inline;
	margin:auto 0;
	font-size:1.5em;
	font-family: 'Antic', sans-serif;
}
#banner_index .contenedor_slogar p {
	display:inline;
	margin:auto 0;
	font-size:1.5em;
	font-family: 'Antic', sans-serif;
}
#banner_index .circulo {
	height:50px;
	width:50px;
	background:#1B80A6;
	border-radius:50%;
	position:absolute;
	bottom:-25px;
	margin:auto;
	text-align:center;
	color:#FFF;
	padding-top:15px;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}
#servicios {
	width:100%;
	max-width: 1200px;
	margin: auto;
	background: #FFF;
	text-align: center;
}
#servicios h2 {
	color:#B83951;
	font-size:2em;
	padding-top:2em;
	font-family: 'Oswald', sans-serif;
}
#servicios .menuservicios {
	width:90%;
	padding-bottom: 0;
	margin: 2em auto 0 auto;
	font-family: 'Oswald', sans-serif;
}
#servicios .menuservicios li{
	list-style: none;
}
#servicios .menuservicios li a:hover {
	color: #B83951;
	text-decoration: none;
}
#servicios .menuservicios li figcaption {
	padding-bottom:1em;	
}
#servicios .menuservicios li figcaption .separador {
	background:#2F3135;
	height:16px;
	text-align:center;
}
#servicios .menuservicios li figcaption .separador .circuloredgrande {
	background-color:#B83951;
	height:90px;
	width:90px;
	line-height: 90px;
	position:relative;
	bottom: 40px;
	text-align: center;
	border-radius:50%;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}
#servicios .menuservicios li figcaption .separador .circuloredgrande img {
	width: 45px;
	margin: auto;
}
#servicios .menuservicios li figcaption .separador .circuloredchico {
	background-color:#B83951;
	height:60px;
	width:60px;
	line-height: 60px;
	text-align: center;
	position:relative;
	bottom: 20px;
	border-radius:50%;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}
#servicios .menuservicios li figcaption .separador .circuloredchico img {
	width: 30px;
	margin: auto;
}
#servicios .menuservicios li figcaption .tituloservicio {
	background:#FFFFFF;
	border-top: none;
	border:#cdcdcd solid 1px;
	margin-top:-2px;
	font-family: 'Antic', sans-serif;
}
#servicios .menuservicios li figcaption .tituloservicio .h2servicios {
	color:#666;
	font-size:1.6em;
	font-family: 'Oswald', sans-serif;
}
#servicios .menuservicios li figcaption .tituloservicio .h3servicios {
	color:#666;
	font-size:1.4em;
	padding-top:20px;
	font-family: 'Oswald', sans-serif;
}
#servicios .menuservicios li figcaption .tituloservicio p {
	color:#666;
	font-size:1em;
	padding-top: 15px;
	margin-bottom: 15px;
	font-family: 'Antic', sans-serif;
}
@media screen and (max-width: 800px) {
	#nosotros  {
		display:none;
	}
	#nosotros .imagen_nosotros {
		display:none;
	}
	#nosotros .imagen_nosotros p {
		display:none;
	}
}



#nosotros .imagen_nosotros {
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:380px;
  	color:#FFF;
	text-align:center;
	position:relative;
	font-size:14px;
	background: url(../imagenes/nosotros.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#nosotros .imagen_nosotros .h3nosotros {
	color:#fff;
	font-size:3em;
	padding-top:80px;
	font-family: 'Oswald', sans-serif;
}
#nosotros .imagen_nosotros p {
	color:#fff;
	font-size:1em;
	width:70%;
	max-width: 1200px;
	margin:auto;
	padding-top:2em;
	font-family: 'Antic', sans-serif;
}
#nosotros article {
	text-align: center;
	color: #768080;
	font-size: 1em;
	padding: 2em;
	width: 80%;
	max-width: 1200px;
	margin: auto;
}
#metodologia {
	background:#E8E8E8;
	margin:auto;
	text-align:center;
}
#metodologia .text_metodologia{
	padding-top:2em;
	padding-bottom:1em;
	margin:auto;
	font-family: 'Oswald', sans-serif;
	font-size:2em;
}
#metodologia p {
	margin:auto;
	padding:0;
	padding-bottom:2em;	
}
#metodologia .metocompleto{
	padding:0;
	margin:auto;
}
#metodologia .metocompleto .sobre{
	opacity: 0;
    background-color: #6da552;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#metodologia .metocompleto .sobre:hover{
	opacity: 1;
    background-color: #6da552;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* SECCIONES DE CONTACTO  */
#banner_contacto {
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:700px;
  	color:#FFF;
	text-align:center;
	position:relative;
	font-size:14px;
	background: url(../imagenes/banner_contacto.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#banner_contacto h1 {
	font-family: 'Oswald', sans-serif;
	padding-top:6em;
}
#banner_contacto p {
	width:70%;
	margin:auto;
	padding-top:1em;
	font-size:1.5em;
	font-family: 'Antic', sans-serif;
}
#banner_contacto .circulo {
	height:50px;
	width:50px;
	background:#1B80A6;
	border-radius:50%;
	position:absolute;
	bottom:-25px;
	margin:auto;
	text-align:center;
	color:#FFF;
	padding-top:15px;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}
#contacto {
	background-color:#FFF;
	text-align:center;
	font-size:1.2em;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}
#contacto h2 {
	color:#B83951;
	padding-top:2em;
	font-family: 'Oswald', sans-serif;
}
#contacto p {
	color:#AAAAAA;
	width:70%;
	margin:auto;
	font-family: 'Antic', sans-serif;
}
#contacto .espacioformulario{
	margin:auto;
	width:70%;
	padding-top:4em;
	padding-bottom:4em;
}
#contacto  form .input{
  border: 1px solid #999;
  width: 100%;
  margin: 0 auto 25px auto;
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-family: 'Antic', sans-serif;
}
#contacto  form .mensaje{
	border: 1px solid #999;
	width: 100%;
	font-family: 'Antic', sans-serif;
	height: 200px;
	margin: 0 auto 25px auto;
	display: block;
	padding: 10px;
	text-align: center;
	font-size: 16px;
}
#contacto  form .enviar{
	font-family: 'Antic', sans-serif;
	border: none;
	background-color: #B83951;
	color: #fff;
	width: 100%;
	margin: auto;
	width: 150px;
	display: block;
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
}
#informacion2 {
	top: -50px;
	z-index:-1;
	position:relative;
	background-color:#2F3135;
	width: 100%;
	padding: 0;
	color:#FFF;
	text-align:center;
	margin:auto;
}
#informacion2 p {
	padding-top:4em;
	font-size:1.3em;
	width:75%;
	margin:auto;
	padding-bottom:4em;
	font-family: 'Antic', sans-serif;
}
#mapa {
	height: 450px;
	width: 100%;
	margin: 0;
	padding: 0;
	position:relative;
}
#mapa .bloque {
	height:450px;
	width:100%;
	position:absolute;
	bottom:0px;
	margin:auto;
	text-align:center;
	color:#FFF;
	padding-top:15px;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}

/* CLIENTES */
/* DESDE ACA INDEX */
#banner_informacion{
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:700px;
  	color:#FFF;
	text-align:center;
	position:relative;
	font-size:14px;
	background: url(../imagenes/banner_informacion.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#banner_informacion .distanciapositiva {
	padding-top:200px;
}

#banner_informacion .tituloclientes {
	font-size:3em;
	padding-top:7em;
}
#banner_informacion .contenedor_slogar {
	width:80%;
	margin:auto;
}
#banner_informacion .contenedor_slogar h1 {
	display:inline;
	margin:auto 0;
	font-size:1.5em;
	font-family: 'Antic', sans-serif;
}
#banner_informacion .contenedor_slogar p {
	display:inline;
	margin:auto 0;
	font-size:1.5em;
	font-family: 'Antic', sans-serif;
}
#banner_informacion .circulo {
	height:50px;
	width:50px;
	background:#1B80A6;
	border-radius:50%;
	position:absolute;
	bottom:-25px;
	margin:auto;
	text-align:center;
	color:#FFF;
	padding-top:15px;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}
#cuerpoinformacion {
	padding-top:4em;
	padding-bottom:2em;
	width:90%;
	margin:auto;
}
#cuerpoinformacion .menuayudacliente {
	height:300px;
	margin:auto;
	text-align:center;
}
#cuerpoinformacion .menuayudacliente h3 {
	color:#5D5D5D;
	padding-top:2em;
	font-family: 'Oswald', sans-serif;
	width:80%;
	margin:auto;
}
#cuerpoinformacion .menuayudacliente p {
	color:#5D5D5D;
	padding-top:1em;
	font-family: 'Antic', sans-serif;
	width:80%;
	margin:auto;
	padding-bottom:40px;
}
#cuerpoinformacion .circulo_rojo_flecha {
	height:40px;
	width:40px;
	background:#B83951;
	border-radius:50%;
	margin:auto;
	
}
#cuerpoinformacion .circulo_rojo_flecha img {
	padding-top:15px;
}
/* desarrollo web */

/* DESDE ACA INDEX */
#banner_desarrolloweb {
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:700px;
  	color:#FFF;
	text-align:center;
	position:relative;
	font-size:14px;
	background: url(../imagenes/desarrolloweb/desarrollositiosweb.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#banner_desarrolloweb .textslogan {
	color:#FFF;
	text-align:center;
	margin-top:0px;
	font-size:3em;
}
#banner_desarrolloweb .textsloganweb {
	color:#FFF;
	text-align:center;
	margin-top:-50px;
	font-size:9em;
}
#banner_desarrolloweb .distanciapositiva {
	padding-top:250px;
}
#banner_desarrolloweb .contenedor_slogar {
	display:inline-block;
	margin:auto;
	text-align:center;
	width:80%;	
	padding-top:1em;
}
#banner_desarrolloweb .contenedor_slogar h1 {
	display:inline;
	margin:auto 0;
	font-size:1.5em;
	font-family: 'Antic', sans-serif;
}
#banner_desarrolloweb .contenedor_slogar p {
	display:inline;
	margin:auto 0;
	font-size:1.5em;
	font-family: 'Antic', sans-serif;
}
#banner_desarrolloweb .circulo {
	height:50px;
	width:50px;
	background-color: #1B80A6;
	border-radius:50%;
	position:absolute;
	bottom:-25px;
	margin:auto;
	text-align:center;
	color:#FFF;
	padding-top:15px;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}
/* DESARROLLO WEB */

#desarrolloweb {
	width: 100%;
	margin: auto;
	background: #FFF;
	text-align: center;
	padding: 0;
	margin: 40px 0;
}
#desarrolloweb .contenidoplan{
	margin: 0 auto 10px auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}
#desarrolloweb .contenidoplan article{
	margin: 0;
	padding: 0;
}
#desarrolloweb .contenidoplan article  .plan{
	border: 1px solid #ccc;
	margin: 10px 0 0 0;
	padding: 0;
}
#desarrolloweb .contenidoplan article  .plan .info{
	width: 90%;
	margin: auto;
	text-align: left;
}
#desarrolloweb .contenidoplan article  .plan .info h3{
	color: #666;
	width: 100%;
	margin: 15px auto 0 auto;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
}
#desarrolloweb .contenidoplan article  .plan .info p{
	color: #666;
	width: 100%;
	font-size: 1em;
	line-height: 1.2em;
	margin: 15px auto;
}
#desarrolloweb .contenidoplan article .figureplan1responsive{
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:450px;
  	color:#FFF;
	background: url(../imagenes/servicos/plan1responsive.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#desarrolloweb .contenidoplan article .figureplan2responsive{
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:450px;
  	color:#FFF;
	background: url(../imagenes/servicos/plan2responsive.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#desarrolloweb .contenidoplan article .figureplan3responsive{
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:182px;
  	color:#FFF;
	background: url(../imagenes/servicos/plan3responsive.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#desarrolloweb .contenidoplan article .figureplan1{
	margin: 0;
	padding: 0;	
  	height:182px;
	background: url(../imagenes/servicos/plan1.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#desarrolloweb .contenidoplan article .figureplan2{
	margin: 0;
	padding: 0;	
  	height:182px;
	text-align:center;
	position:relative;
	background: url(../imagenes/servicos/plan2.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#desarrolloweb .contenidoplan article .figureplan3{
	margin: 0;
	padding: 0;	
  	height:182px;
	text-align:center;
	position:relative;
	background: url(../imagenes/servicos/plan3.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#desarrolloweb .contenidoplan article .separador{
	background:#2F3135;
	height:16px;
	text-align:center;
}
#desarrolloweb .contenidoplan article .separador .circulosmall{
	background-color:#B83951;
	height: 80px;
	width: 80px;
	position: relative;
	bottom: 35px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: 10px;
	left: 0;
	right: 0;
}
#desarrolloweb .contenidoplan article .separador .circulosmall p {
	padding-top: 2em;
	color: #FFF;
	font-family: 'Oswald', sans-serif;
	font-size: 1.1em;
}
#desarrolloweb .contenidoplan article .separador .circuloredgrande{
	background-color:#B83951;
	height: 130px;
	width: 130px;
	position: relative;
	bottom: 60px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: 10px;
	left: 0;
	right: 0;
}
#desarrolloweb .contenidoplan article .separador .circuloredgrande p {
	padding-top: 2.4em;
	color: #FFF;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
}

/* inicio planes */
#banner_plan1basico {
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:700px;
  	color:#FFF;
	text-align:center;
	position:relative;

	font-size:14px;
	background: url(../imagenes/servicos/plan1.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#banner_plan2basico {
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:700px;
  	color:#FFF;
	text-align:center;
	position:relative;

	font-size:14px;
	background: url(../imagenes/servicos/plan2.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#banner_plan3basico {
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:700px;
  	color:#FFF;
	text-align:center;
	position:relative;

	font-size:14px;
	background: url(../imagenes/servicos/plan3.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#banner_plan1responsive {
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:700px;
  	color:#FFF;
	text-align:center;
	position:relative;

	font-size:14px;
	background: url(../imagenes/servicos/plan1responsive.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#banner_plan2responsive {
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:700px;
  	color:#FFF;
	text-align:center;
	position:relative;

	font-size:14px;
	background: url(../imagenes/servicos/plan2responsive.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#banner_plan3responsive {
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:700px;
  	color:#FFF;
	text-align:center;
	position:relative;

	font-size:14px;
	background: url(../imagenes/servicos/plan3responsive.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#banner_disenografico {
	margin: 0;
	padding: 0;	
	background: #f16251;
  	height:700px;
  	color:#FFF;
	text-align:center;
	position:relative;

	font-size:14px;
	background: url(../imagenes/disenografico/disenografico.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#banner_plan1basico a,
#banner_plan2basico a,
#banner_plan3basico a,
#banner_plan1responsive a,
#banner_plan2responsive a,
#banner_plan3responsive a,
#banner_disenografico a{
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 0;
	font-size: 1.3em;
	font-family: 'Antic', sans-serif;
	display: block;
	width: 250px;
	margin: 60px auto 0 auto;
	color: #fff;
	background-color: #b83951;
	text-align: center;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#banner_plan1basico a:hover,
#banner_plan2basico a:hover,
#banner_plan3basico a:hover,
#banner_plan1responsive a:hover,
#banner_plan2responsive a:hover,
#banner_plan3responsive a:hover,
#banner_disenografico a:hover{
	background-color: #1b80a6;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#banner_plan1basico .overlay,
#banner_plan2basico .overlay,
#banner_plan3basico .overlay,
#banner_plan1responsive .overlay,
#banner_plan2responsive .overlay,
#banner_plan3responsive .overlay,
#banner_disenografico .overlay{

  	background-color: rgba(0, 0, 0, 0.7);
  	min-height: 700px;
}
#banner_plan1basico .textslogan,
#banner_plan2basico .textslogan,
#banner_plan3basico .textslogan,
#banner_plan1responsive .textslogan,
#banner_plan2responsive .textslogan,
#banner_plan3responsive .textslogan,
#banner_disenografico .textslogan{
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	color:#FFF;
	text-align:center;
	margin-top: 0px;
	font-size: 3em;
}
#banner_plan1basico .textsloganweb,
#banner_plan2basico .textsloganweb,
#banner_plan3basico .textsloganweb,
#banner_plan1responsive .textsloganweb,
#banner_plan2responsive .textsloganweb,
#banner_plan3responsive .textsloganweb,
#banner_disenografico .textsloganweb{
	color: #FFF;
	text-align:center;
	margin-top: -50px;
	font-size: 9em;
}
#banner_plan1basico .distanciapositiva,
#banner_plan2basico .distanciapositiva,
#banner_plan3basico .distanciapositiva,
#banner_plan1responsive .distanciapositiva,
#banner_plan2responsive .distanciapositiva,
#banner_plan3responsive .distanciapositiva,
#banner_disenografico .distanciapositiva{
	padding-top:20%;
}
#banner_plan1basico .contenedor_slogar,
#banner_plan2basico .contenedor_slogar,
#banner_plan3basico .contenedor_slogar,
#banner_plan1responsive .contenedor_slogar,
#banner_plan2responsive .contenedor_slogar,
#banner_plan3responsive .contenedor_slogar,
#banner_disenografico .contenedor_slogar{
	display:inline-block;
	margin:auto;
	text-align:center;
	width:80%;	
	padding-top:1em;
}
#banner_plan1basico .contenedor_slogar h1,
#banner_plan2basico .contenedor_slogar h1,
#banner_plan3basico .contenedor_slogar h1,
#banner_plan1responsive .contenedor_slogar h1,
#banner_plan2responsive .contenedor_slogar h1,
#banner_plan3responsive .contenedor_slogar h1,
#banner_disenografico .contenedor_slogar h1{
	display:inline;
	margin:auto 0;
	font-size:1.5em;
	font-family: 'Antic', sans-serif;
}
#banner_plan1basico .contenedor_slogar p,
#banner_plan2basico .contenedor_slogar p,
#banner_plan3basico .contenedor_slogar p,
#banner_plan1responsive .contenedor_slogar p,
#banner_plan2responsive .contenedor_slogar p,
#banner_plan3responsive .contenedor_slogar p,
#banner_disenografico .contenedor_slogar p{
	display: inline;
	margin: auto 0;
	font-size: 1.5em;
	font-family: 'Antic', sans-serif;
}
#banner_plan1basico .circulo,
#banner_plan2basico .circulo,
#banner_plan3basico .circulo,
#banner_plan1responsive .circulo,
#banner_plan2responsive .circulo,
#banner_plan3responsive .circulo,
#banner_disenografico .circulo{
	height: 50px;
	width: 50px;
	background-color: #1B80A6;
	border-radius: 50%;
	position:absolute;
	bottom: -25px;
	margin: auto;
	text-align: center;
	color: #FFF;
	padding-top: 15px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

/* fin planes */


/* inicio detalle planes */

#detalleplanweb {
	width:100%;
	max-width: 1200px;
	margin:auto;
	padding:0;
	text-align:center;
}
#detalleplanweb h2 {
	width:80%;
	max-width:1000;
	font-family: 'Oswald', sans-serif;
	font-size:1.4em;
	color:#5D5D5D;
	padding-top:4em;
	padding-bottom:2em;
	text-align:center;
	margin:auto;
}
#detalleplanweb p {
	width:80%;
	max-width:1000;
	font-family: 'Antic', sans-serif;
	font-size:1em;
	color:#666;
	padding-bottom:3em;
	text-align:center;
	margin:auto;	
}
#detalleplanweb p b{
	color: #363b47;
	font-size: 1.1em;
}
#detalleplanweb .btn-planes{
	margin: 0 auto 1.5em auto;
}
#detalleplanweb .btn-planes a{ 
	background-color: #363b47;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 1.4em;
	font-weight: 400;
	height: 56px;
	line-height: 56px;
	padding: 10px 20px;
	width: 100%;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#detalleplanweb .btn-planes a:hover{ 
	background-color: #ac1d48;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#detalleplanweb .btn-planes a img{
	width: 2.4em;
	padding-left: 15px;
}
#detalleplanweb h3{
	font-family: 'Oswald', sans-serif;
	font-size:1.4em;
	color:#5D5D5D;
	padding: 0.5em 0 1.5em 0;
	text-align:center;
	margin:auto;
}
#detalleplanweb .carro{
	width: 90%;
	max-width: 400px;
	margin: 0 auto 90px auto;
}
#detalleplanweb .carro .valor{
	background-color: #ac1d48;
	height: 56px;
	padding: 0;
}
#detalleplanweb .carro .valor p{
	color: #fff;
	font-family: 'Antic', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	height: 56px;
	line-height: 56px;
	padding: 0;
	width: 100%;
}
#detalleplanweb .carro .valor img{
	width: 60px;
	float: left;
}
#detalleplanweb .carro .agregar{
	background-color: #363b47;
	height: 56px;
	padding: 0;
}
#detalleplanweb .carro .agregar a{
	text-decoration: none;
	color: #fff;
	font-family: 'Antic', sans-serif;
	font-size: 1.4em;
	font-weight: 400;
	height: 56px;
	line-height: 56px;
	padding: 0;
	width: 100%;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#detalleplanweb .carro .agregar a:hover{
	color: #ca214f;
	padding: 0;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#detalleplanweb .carro .agregar a img{
	width: 20px;
}

/* fin detalle planes */


/* DISEÑO GRÁFICO */

#disenografico{
	background-color: #fff;
}
#disenografico .contenidodiseno{
	padding: 0;
	max-width: 1200px;
	margin: auto;
}
#disenografico .contenidodiseno .info{
	padding: 0;
	margin: 100px 0 70px 0;
}
#disenografico .contenidodiseno .info h2{
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	margin: 0 0 20px 0;
	font-weight: 400;
	color: #5d5d5d;
}
#disenografico .contenidodiseno .info p{
	color: #aaa;
	font-family: 'Antic', sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
	font-weight: 400;
}
#disenografico .contenidodiseno .categorias{
	padding: 0;
	margin: 0 0 20px 0;
}
#disenografico .contenidodiseno .categorias .cat{
	border: 1px solid #ccc;
	padding: 0 0 15px 0;
	min-height: 530px;
	margin: 0 0 30px 0;
}
#disenografico .contenidodiseno .categorias .cat h2{
	color: #2f3135;
	font-family: 'Antic', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	margin: 45px auto 25px auto;
	padding: 0;
	width: 90%;
}
#disenografico .contenidodiseno .categorias .cat p{
	color: #aaa;
	font-family: 'Antic', sans-serif;
	font-size: 1.1em;
	margin: 0 auto 25px auto;
	padding: 0;
	width: 90%;
}
#disenografico .contenidodiseno .categorias .cat a{
	margin: auto;
	position: absolute;
	bottom: 30px;
	background-color: #363b47;
	text-decoration: none;
	color: #fff;
	font-family: 'Antic', sans-serif;
	font-size: 1.4em;
	font-weight: 400;
	padding: 5px 0;
	width: 100%;
	left: 0;
	right: 0;
	width: 120px;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#disenografico .contenidodiseno .categorias .cat a:hover{
	background-color: #ac1d48;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#disenografico .contenidodiseno .categorias .cat a img{
	width: 20px;
}
#disenografico .contenidodiseno .categorias .cat .imagen1,
#disenografico .contenidodiseno .categorias .cat .imagen2,
#disenografico .contenidodiseno .categorias .cat .imagen3{
	background-color: green;
	height: 170px;
}
#disenografico .contenidodiseno .categorias .cat .imagen1{
	background: url(../imagenes/disenografico/1.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#disenografico .contenidodiseno .categorias .cat .imagen2{
	background: url(../imagenes/disenografico/2.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#disenografico .contenidodiseno .categorias .cat .imagen3{
	background: url(../imagenes/disenografico/3.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#disenografico .contenidodiseno .categorias .cat .circulo{
	height: 50px;
	width: 50px;
	background-color: #1B80A6;
	border-radius: 50%;
	position: absolute;
	top: 145px;
	margin: auto;
	text-align: center;
	color: #FFF;
	padding-top: 15px;
	left: 0;
	right: 0;
}

/* FIN DISEÑO GRÁFICO */


