/* Desde aca es seccion de banner */
#banner
{
	margin: 0 auto;
	padding: 0;	
	background: #f16251;
  	height:550px;
  	color:#FFF;
	text-align:center;
	font-size:14px;
  	height: 528px;
	background: url(../imagenes/banner.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#banner .textslogan {
	color:#FFF;
	text-align:center;
	margin-top:0px;
	font-size:3em;
}
#banner .textsloganweb {
	color:#FFF;
	text-align:center;
	margin-top:-50px;
	font-size:9em;
}
#banner .distanciapositiva {
	padding-top:100px;
}
#banner .distancianegativa {
	margin-top:-50px;
}
#banner .boton {
	background-color:#ff284a;
	color:#FFF;
	text-decoration:none;
	height:40px;
	width:150px;
	font-size:1,5em;
	text-align:center;
	vertical-align:central middle;
	display:inline-block;
	padding-top:5px;
	margin:auto;
	margin-bottom:10px;
	padding-top:10px;
}
#banner .texto {
	text-align:center;
	display:inline-block;
	margin:auto;
	width:70%;
	padding-bottom:30px;
	font-size:1.2em;
	text-shadow: -1px 1px 1px rgba(150, 150, 150, 1);
}
#banner .izquierdo {
	height:100px; 
	width:50%; 
	display:inline-block;	
    border-right: 50px solid transparent;
    border-bottom: 50px solid #fff;
    font-size: 0;
    line-height: 0;
	bottom:0;
}
#banner .derecho {
	height:100px; 
	width:50%; 
	display:inline-block;	
    border-left: 50px solid transparent;
    border-bottom: 50px solid #fff;
    font-size: 0;
    line-height: 0;
	bottom:0;
}
/* Desde aca es seccion de servicios */
#servicios {
	margin: 0 auto;
	padding: 0;	
	background:#FFF;
	width:100%;
	text-align:center;
	font-size:14px;
}
#servicios h3 {
	color:#ff284a;
	font-size:2em;
	text-align:center;
	margin-top:50px;
}
#servicios h2 {
	color:#2D2D2D;
	font-size:1.2em;
	text-align:center;
}
#servicios .texto {
	text-align:center;
	display:inline-block;
	margin:auto;
	padding-bottom:30px;
	font-size:1em;
}
#servicios .cuadroservicios{
	width:100%;
	margin:auto;
	padding-bottom:20px;
}
#servicios .detalleservicio {
	height:25%;
	padding-bottom:60px;
}
/* Desde aca es seccion de bienvenidos */
#bienvenido {
	background:#2F3135;
	margin: 0 auto;
	padding: 0;	
	height:300px;
	width:100%;
	text-align:center;
	font-size:1em;
}
#bienvenido .triangulo {
	background:#2F3135; 
	height:100px; 
	width:100px; 
	display:inline-block;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #fff;
    font-size: 0;
    line-height: 0;
}
#bienvenido h1 {
	margin-top:70px;
	padding-bottom:20px;
	font-size:2em;
	color:#FFF;
	width:70%;
	margin:auto;	
}
#bienvenido p {
	margin-top:70px;
	color:#FFF;
	font-size:1em;
	width:70%;
	margin:auto;	
}
/* Desde aca es seccion de nosotros */
#nosotros {
	margin: 0 auto;
	padding: 0;	
	background:#F3F3F3;
	width:100%;
	text-align:center;
	font-size:14px;
}
#nosotros .espacionosotros {
	margin: 0 auto;
	padding: 0;	
}
#nosotros .espacionosotros .imagennosotros {
	background: url(../imagenes/nosotros.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin: 0 auto;
	padding: 0;	
	height:500px;
}
#nosotros .espacionosotros .imagennosotros h3 {
	font-size:2em;
	margin-left:20px;
	margin-right:20px;
	color:#FFF;
	padding-top:150px;
	text-shadow: -1px 1px 1px rgba(150, 150, 150, 1);
}
#nosotros .espacionosotros .imagennosotros p {
	font-size:1.2em;
	margin-left:20px;
	margin-right:20px;
	color:#FFF;
	text-shadow: -1px 1px 1px rgba(150, 150, 150, 1);
}
#nosotros .espacionosotros .textonosotros {
	text-align:left;
	padding-top:50px;
	padding-left:50px;
}

#nosotros .espacionosotros .textonosotros h3 {
	display:inline-block;
	margin: 0 auto;
	padding: 0;
	padding-top:10px;
	color: #768088;
}
#nosotros .espacionosotros .textonosotros p {
	padding-top:2em;
	font-size:1em;
	
}
#nosotros .espacionosotros .textonosotros figure {
	display:inline-block;
	margin: 0 auto;
	padding: 0;	
	padding-top:10px;
	padding-right:40px;
	height:10px;
	width:10px;
}
